.login-pf body {
    background: url('../img/keycloak-bg.png') no-repeat center center fixed;;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
